* {
     /* This requires the 'awesome-terminal-font' package in Arch Linux */
     font-family: "RobotoMono Nerd Font", "octicons";
}

window#waybar {
     background-color: black;
     border-radius:0 0 5 5;
}

/* General layout for the modules in the center */
.modules-center,
.modules-right,
.modules-left {
     background-color: transparent;
}

#workspaces button {
     color: rgba(255, 255, 255, 0.3);
     padding: 0px 0px 0px 3px;
     font-size: 12px;
}

#workspaces button.focused {
     color: white;
}

#workspaces button:hover {
     color: white;
     background: transparent;
     border: 1px solid transparent;
}

#keyboard-state label,
#mode,
#network,
#tray,
#language,
#idle_inhibitor,
#bluetooth,
#clock,
#mpd {
     font-size: 12px;
     padding: 0 7px;
     color: white;
}

#mode,
#language {
     color: black;
     margin: 4px;
     border-radius: 5px;
     background: rgba(255, 255, 255, 0.85);
}

#network,
#bluetooth {
     font-size: 13px;
}

#network.disconnected,
#bluetooth.off,
#bluetooth.disabled {
     color: rgba(255, 255, 255, 0.3);
}
