* {
    border: none;
    border-radius: 0;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: JetBrains Mono;
    font-size: 12px;
    min-height: 0;
}

window#waybar {
    background-color: rgba(43, 48, 59, 0);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
    border-radius: 5px;
    border: 2px;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.empty {
    background-color: transparent;
}

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

/* General layout for the modules in the center */
.modules-center, .modules-right {
     padding: 5px;
     border-radius: 5px;
     background-color: rgba(43, 48, 59, 0.5);
}

#workspaces button {
     padding: 4px 4px 4px 4px;
     color: white;
}

#workspaces button.focused {
    background-color: transparent;
    color: red;
}

.modules-left {
     padding: 5px;
     border-radius: 5px;
     background-color: transparent;
}

#mode {
    background-color: transparent;
    border: 1px red solid;
    color: red;
}

#keyboard-state {
    background-color: #64727D;
    border: 3px solid #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#language,
#idle_inhibitor,
#mpd {
    padding: 0 10px;
    margin: 1px 1px 1px 1px;
    border-radius: 2px;
}

#window {
    border-top: 1px solid;
}

#clock {
     color: #64727D;
     border: 1px #64727D solid;
}

#battery {
    background-color: #ffffff;
    color: #000000;
}

#battery.charging, #battery.plugged {
    color: #ffffff;
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: #2ecc71;
    color: #000000;
}

#memory {
    background-color: #9b59b6;
}

#disk {
    background-color: #964B00;
}

#backlight {
    background-color: #90b1b1;
}

#network {
     border: 1px #2980b9 solid;
     color: #2980b9;
}

#network.disconnected {
     border: 1px #f53c3c solid;
     color: #f53c3c;
}

#pulseaudio {
    background-color: #f1c40f;
    color: #000000;
}

#pulseaudio.muted {
    background-color: #90b1b1;
    color: #2a5c45;
}

#temperature {
    background-color: #f0932b;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
    background-color: #2980b9;
}

#language {
    color: #00b093;
    border: 1px #00b093 solid;
}
