@import "/home/mattia/.local/share/themes/Gruvbox-Dark/gtk-3.0/gtk-dark.css";

#window {
     border: 3px solid #EBDBB2;
     border-radius: 10px;
}

#outer-box {
     margin: 10px;
     border-radius: 10px;
     background-color: transparent;
}

#input {
     margin: 5px;
     border-radius: 5px;
     color: #BDAE93;
}
/*
#inner-box {
     margin: 5px;
     border: none;
     background-color: rgba(43, 48, 59, 0.9);
}


#entry:selected {
     border-radius: 5px;
     background-color: #0C0E14;
}
*/
