#window {
     margin: 0px;
     border: 0px;
     border-radius: 5px;
     background-color: #282929;
}

#outer-box {
     margin: 0px;
     border-radius: 5px;
     background-color: #282929;
}

#input {
     margin: 5px;
     background-color: #282929;
     color: #d9d9d9;
}

#input:#selected {
     margin: 5px;
     background-color: #282929;
}

#inner-box {
     margin: 5px;
     border: none;
     background-color: #282929;
}

#scroll {
}

#text {
     margin: 5px;
     border: none;
     color: #F8F8F2;
}

#entry:selected {
     border-radius: 5px;
     background-color: #282929;
}
