configuration {
  location: 2;
  steal-focus: true;
  sidebar-mode:  true;
  hide-scrollbar: true;
  kb-cancel: "Escape,Control+bracketleft";
  monitor: "-1";

  drun {
    parse-user: true;
  }

  /* Rofi modus */
  modi: "drun,ssh,run";
  show: "drun";
}

@theme "neutral.rasi"
